<% content_for "sidebar" do render 'users/courses' end %>
	
<% sort_by_status(@assignments, @current_user.id).each_pair do |status, set| %>

<h2><%= status %> <span class="light">(<%= set.size %>)</span></h2>

<div id="assignments" class="assignments">
	
	<% set.each do |a, b| %>

		<div class="assignment">
			<div class="status <%= status.downcase %>"></div>
			<div class="title">
				<%= a %>
				<% if @course.nil? %><span class="light">&bull; <%= a.course %></span><% end %>
			</div>
			<div class="due"><%= b %></div>
		</div>
	
	<% end %>

</div>

<% end %>

<% content_for "right-sidebar" do %>

<!--<h2>Final Project Proposal</h2>
<p><b>Due:</b> December 7, 2011</p>
<p><b>Weight:</b> 100 points</p>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ultrices, tellus et volutpat sagittis, ipsum diam pharetra nulla, ut elementum est arcu eget magna. Vestibulum iaculis neque in purus placerat pulvinar. Phasellus pretium rhoncus enim vitae sagittis. Phasellus ullamcorper nunc a nulla tincidunt laoreet. Morbi quam purus, ultrices a sodales id, pulvinar molestie est.</p>
<div class="button">More Info</div>-->

<% end %>
